<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <script src="https://distill.pub/template.v2.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <style>
      <%=require("raw-loader!../../static/panel.css").default %>
    </style>


  </head>
  <body>
    <d-article>
      <div id="panel" class="l-screen">
      </div>
    </d-article>
	</body>
</html>