<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Panel</title>

  </head>
  <body>
    <div id="panel">
      <input type="range" min="1" max="100" value="50" class="slider" id="timestep-slider">
      <div class="subpanel" id="obs-subpanel">
        <img id="obs-image" src="../data/obs/0.png" width=200>
      </div>
      <div class="subpanel" id="sal-subpanel">
        <img src="../data/obs/0.png" width=200>
      </div>
      <div class="subpanel" id="pca-subpanel" width=200>
      </div>
    </div>
    <script src="../../data/pca.js"></script>

	</body>
</html>