.panel-controls {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.left-controls {
	flex: 1;
}

.center-controls {
	flex: 1;
	text-align: center;
}

.right-controls {
	flex: 1;
}

/* Line of subpanels */
.panel-grid-1-3 .subpanels-div, .panel-grid-1-4 .subpanels-div {
	display: flex;
}

.panel-grid-1-3 .subpanel, .panel-grid-1-4 .subpanel {
	flex: 1;
	margin: 10px;
}

.panel-grid-2-2 .subpanels-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.panel-grid-2-2 .subpanel {
	width: calc(50% - 20px);
	margin-top: 20px;
}

/*.subpanel-0 {
	grid-area: subpanel-0;
}

.subpanel-1 {
	grid-area: subpanel-1;
}

.subpanel-2 {
	grid-area: subpanel-2;
}

.subpanel-3 {
	grid-area: subpanel-3;
}*/

.control-icon svg {
	width: 25px;
}

.subpanel img {
	width: 100%;
}

.subpanel hr {
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;
}