#panel {
	display: grid;
	grid-template-rows: 100px 350px 350px;
	grid-template-columns: 30% 20% 20% 30%;
	grid-template-areas: 
		"sample-controls step-controls step-controls salency-controls"
		"obs obs sal sal"
		"pca-points pca-points bar-graph bar-graph";

	align-content: center;
	grid-gap: 20px;
}

#sample-controls {
	grid-area: sample-controls;
	text-align: center;
}

#step-controls {
	grid-area: step-controls;
	text-align: center;
}

#salency-controls {
	grid-area: salency-controls;
}

.subpanel {
	place-self: stretch;
}

#obs-subpanel {
	grid-area: obs;
}

#sal-subpanel {
	grid-area: sal;
}

#pca-points-subpanel {
	grid-area: pca-points;
}

#bar-graph-subpanel {
	grid-area: bar-graph;
}

.control-icon svg {
	width: 25px;
}

.subpanel-image {
	height: 100%;
}